<!-- /templates/collection.liquid -->
{%- if section.settings.show_collection_image and collection.image -%}
  <div class="collection-hero">
    <noscript>
      <div class="collection-hero__image-no-js" style="background-image:url({{ collection.image | img_url: '2048x2048' }});"></div>
    </noscript>
    {%- assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    {%- comment -%}
      If the collection.image height is < 70% of its width on mobile or < 45% on desktop,
      we crop the container to make sure it's the same height as the image.
    {%- endcomment -%}
    {%- assign height_width_ratio = 100 | divided_by: collection.image.aspect_ratio | floor -%}
    {%- if height_width_ratio < 70 -%}
      <style>
        {%- if height_width_ratio < 45 -%}
          .collection-hero__image-wrapper::after {
            padding-bottom: {{ height_width_ratio }}%;
          }
        {%- else -%}
          @media screen and (max-width: 768px) {
            .collection-hero__image-wrapper::after {
              padding-bottom: {{ height_width_ratio }}%;
            }
          }
        {%- endif -%}
      </style>
    {%- endif -%}
    <div class="collection-hero__image-wrapper">
      <img class="collection-hero__image lazyload"
        src="{{ collection.image | img_url: '300x' }}"
        data-src="{{ img_url }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-aspectratio="{{ collection.image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ collection.image.alt | escape }}">
    </div>
  </div>
{%- endif -%}



<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">

  {%- paginate collection.products by 12 -%}


  {%- if section.settings.collection_products_grid == 'accessories' -%}

    
    <div class="accessories-wrap cf">
      <h1>{{ collection.title }}</h1>
    {%- for product in collection.products -%}
      {%- include 'product-grid-item' -%}
    {%- endfor -%}
    </div>


  {%- elsif  section.settings.collection_products_grid == 'collage' -%}
    <div class="grid grid-collage">
      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'snippets/product-grid-collage.liquid'.

        `is_reverse_row__product`, `three_row_index__product`, `collection_product_count`, and `divisible_by_three__product` are
        all used by 'snippets/product-grid-collage.liquid'
      {% endcomment %}
      {%- assign is_reverse_row__product = false -%}
      {%- assign three_row_index__product = 0 -%}
      {%- assign collection_product_count__product = collection.products.size -%}
      {%- assign divisible_by_three__product = collection_product_count__product | modulo:3 -%}
      {%- for product in collection.products -%}
        {%- include 'product-grid-collage' -%}
      {%- else -%}

        {%- if shop.products_count == 0 -%}
          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% include 'onboarding-featured-products' -%}
        {%- else -%}
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item text-center">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {%- endif -%}
      {%- endfor -%}

    </div>
  {%- elsif section.settings.collection_products_grid == 'grid' -%}
    <div class="grid-uniform">
      {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
      {%- for product in collection.products -%}
        {%- include 'product-grid-item' -%}
      {%- else -%}
        {%- if collection.handle == 'all' -%}
          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {%- include 'onboarding-featured-products' -%}
        {%- else -%}
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item text-center">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if paginate.pages > 1 -%}
    {%- include 'pagination' -%}
  {%- endif -%}

  {%- endpaginate -%}
</div>



{% schema %}
{
  "name": {
    "cs": "Stránky s kolekcemi",
    "da": "Kollektionssider",
    "de": "Kategorieseiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collection",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pl": "Strony kolekcji",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "tr": "Koleksiyon sayfaları",
    "vi": "Trang bộ sưu tập",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "cs": "Zobrazit obrázek kolekce",
        "da": "Vis kollektionsbillede",
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fi": "Näytä kokoelman kuva",
        "fr": "Afficher l'image de la collection",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "ko": "컬렉션 이미지 표시",
        "nb": "Vis samlingsbilde",
        "nl": "Collectieafbeelding weergeven",
        "pl": "Pokaż obraz kolekcji",
        "pt-BR": "Exibir imagem da coleção",
        "pt-PT": "Mostrar imagem da coleção",
        "sv": "Visa produktseriebilder",
        "th": "แสดงรูปภาพคอลเลกชัน",
        "tr": "Koleksiyon görselini göster",
        "vi": "Hiển thị hình ảnh bộ sưu tập",
        "zh-CN": "显示产品系列图片",
        "zh-TW": "顯示商品系列圖片"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": {
        "cs": "Povolit řazení kolekcí",
        "da": "Aktivér sortering af kollektioner",
        "de": "Kategoriesortierung aktivieren",
        "en": "Enable collection sorting",
        "es": "Habilitar la la función ordenar colecciones",
        "fi": "Ota kokoelman lajittelu käyttöön",
        "fr": "Activer le tri de la collection",
        "it": "Abilita ordinamento collezione",
        "ja": "コレクションの並べ替えを有効にする",
        "ko": "컬렉션 정렬 사용",
        "nb": "Aktiver sortering av samlinger",
        "nl": "Sorteren op collectie inschakelen",
        "pl": "Włącz sortowanie kolekcji",
        "pt-BR": "Habilitar a organização de coleções",
        "pt-PT": "Ativar ordenação de coleção",
        "sv": "Aktivera produktseriesortering",
        "th": "เปิดใช้การเรียงลำดับคอลเลกชัน",
        "tr": "Koleksiyon sıralamayı etkinleştir",
        "vi": "Bật phân loại bộ sưu tập",
        "zh-CN": "启用产品系列排序",
        "zh-TW": "啟用商品系列排序功能"
      }
    },
    {
      "type": "checkbox",
      "id": "collection_tags_enable",
      "label": {
        "cs": "Povolit filtrování podle štítku",
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pl": "Włącz filtrowanie tagów",
        "pt-BR": "Habilitar filtragem de tag",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "tr": "Etiket filtrelemeyi etkinleştir",
        "vi": "Bật lọc thẻ",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Produkty",
        "da": "Produkter",
        "de": "Produkte",
        "en": "Products",
        "es": "Productos",
        "fi": "Tuotteet",
        "fr": "Produits",
        "it": "Prodotti",
        "ja": "商品管理",
        "ko": "제품",
        "nb": "Produkter",
        "nl": "Producten",
        "pl": "Produkty",
        "pt-BR": "Produtos",
        "pt-PT": "Produtos",
        "sv": "Produkter",
        "th": "สินค้า",
        "tr": "Ürünler",
        "vi": "Sản phẩm",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
      "type": "select",
      "id": "collection_products_grid",
      "label": {
        "cs": "Styl mřížky",
        "da": "Gittertypografi",
        "de": "Rasterstil",
        "en": "Grid style",
        "es": "Estilo de cuadrícula",
        "fi": "Ruudukkotyyli",
        "fr": "Style de grille",
        "it": "Stile griglia",
        "ja": "グリッドスタイル",
        "ko": "그리드 스타일",
        "nb": "Rutenettstil",
        "nl": "Rasterstijl",
        "pl": "Styl siatki",
        "pt-BR": "Estilo da grade",
        "pt-PT": "Estilo da grelha",
        "sv": "Rutnätsstil",
        "th": "สไตล์กริด",
        "tr": "Izgara stili",
        "vi": "Kiểu lưới",
        "zh-CN": "网格样式",
        "zh-TW": "網格樣式"
      },
      "options": [
        {
          "value": "collage",
          "label": {
            "cs": "Koláž",
            "da": "Collage",
            "de": "Collage",
            "en": "Collage",
            "es": "Collage",
            "fi": "Kollaasi",
            "fr": "Collage",
            "it": "Collage",
            "ja": "コラージュ",
            "ko": "콜라주",
            "nb": "Fotomontasje",
            "nl": "Collage",
            "pl": "Kolaż",
            "pt-BR": "Colagem",
            "pt-PT": "Colagem",
            "sv": "Kollage",
            "th": "ภาพตัดแปะ",
            "tr": "Kolaj",
            "vi": "Ghép",
            "zh-CN": "拼贴画",
            "zh-TW": "拼貼"
          }
        },
        {
          "value": "accessories",
          "label": {
            "cs": "Koláž",
            "da": "Accessories",
            "de": "Accessories",
            "en": "Accessories",
            "es": "Accessories",
            "fi": "Kollaasi",
            "fr": "Accessoriese",
            "it": "Accessories",
            "ja": "コラージュ",
            "ko": "콜라주",
            "nb": "Fotomontasje",
            "nl": "Accessories",
            "pl": "Kolaż",
            "pt-BR": "Colagem",
            "pt-PT": "Colagem",
            "sv": "Kollage",
            "th": "ภาพตัดแปะ",
            "tr": "Kolaj",
            "vi": "Ghép",
            "zh-CN": "拼贴画",
            "zh-TW": "拼貼"
          }
        },
        {
          "value": "grid",
          "label": {
            "cs": "Mřížka",
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Raster",
            "pl": "Siatka",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "tr": "Izgara",
            "vi": "Lưới",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "it": "Indica fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    }
  ]
}
{% endschema %}
